@font-face {
  font-family: 'Gunterz';
  src: local("Gunterz"), local("Gunterz"),
  url('../fonts/Gunterz/Gunterz-Regular.ttf'),
  url("../fonts/Gunterz/Gunterz-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz';
  src: local("Gunterz"), local("Gunterz"),
  url('../fonts/Gunterz/Gunterz-Black.ttf'),
  url("../fonts/Gunterz/Gunterz-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz';
  src: local("Gunterz"), local("Gunterz"),
  url('../fonts/Gunterz/Gunterz-BlackItalic.ttf'),
  url("../fonts/Gunterz/Gunterz-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gunterz';
  src: local("Gunterz"), local("Gunterz"),
  url('../fonts/Gunterz/Gunterz-Bold.ttf'),
  url("../fonts/Gunterz/Gunterz-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz';
  src: local("Gunterz"), local("Gunterz"),
  url('../fonts/Gunterz/Gunterz-BoldItalic.ttf'),
  url("../fonts/Gunterz/Gunterz-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'Gunterz';
  src: local("Gunterz"), local("Gunterz"),
  url('../fonts/Gunterz/Gunterz-Italic.ttf'),
  url("../fonts/Gunterz/Gunterz-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gunterz';
  src: local("Gunterz"), local("Gunterz"),
  url('../fonts/Gunterz/Gunterz-Medium.ttf'),
  url("../fonts/Gunterz/Gunterz-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz';
  src: local("Gunterz"), local("Gunterz"),
  url('../fonts/Gunterz/Gunterz-MediumItalic.ttf'),
  url("../fonts/Gunterz/Gunterz-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gunterz';
  src: local("Gunterz"), local("Gunterz"),
  url('../fonts/Gunterz/Gunterz-MediumItalic.ttf'),
  url("../fonts/Gunterz/Gunterz-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
